body {
  background-color: #e9e9e9;
  height: 100%;
}

.fill{
  padding-top:1vh;
  min-height:100vh;
  background-color: #36393f;
  color:white;
}

/*Chat Room*/
.messageWindow { /* chat area*/
  background-color: #4f545c;
  font-size: 1.2em;
  overflow-y: auto;
  min-height:73vh;
  max-height:73vh;
  word-wrap: break-word;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 16px;
  border-radius: 16px 16px 16px 16px;
  border-color:#72767d;
  margin-bottom:16px;
}

.messageWindow p { /*message bubble*/
  min-width:10vw;
  max-width:50vw;
  box-shadow:4px 4px 8px 0 #36393f;
  color: #dcddde;
  background-clip: padding-box;
  background-color:  #36393f;
  display: inline-block;
  padding: 16px;
  border-radius: 16px 16px 16px 16px;
}
.messageWindow p:hover{ /* hovering message buble*/
  background-color:#2b2e32;
}

/* Users List */
.userList {
  border-radius: 8px;
  overflow-y: auto;
  min-height:73vh;
  max-height:73vh;
  background-color: #4f545c;
  overflow-x: hidden;
}

.userListEntry{
  border-top: 1px solid #72767d;
  padding:8px;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ea0a6; 
}

.composeField {
  width: 97%;
  resize:none;
  color:#dcddde;
  border-radius:16px 0 0 16px;
  border-color: #4f545c;
  background-color: #4f545c;
  padding-top:1vh;
  padding-left:16px;
}

@media only screen and (max-width: 600px) {
  .composeField{
    max-width:85%;
  }
}
@media only screen and (max-width:800px){
  .composeField{
    max-width:85%;
  }
}
@media only screen and (min-width:1200px){
  .composeField{
    max-width:96%;
  }
}

.composeButton{
  background-color: #72777D;
  border-radius:0 16px 16px 0;
  border-color: #4f545c;
  color:#dcddde;
}

/* Guest Landing Page */
.landingContainer {
  color: #dcddde;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom:16px;
  background-color: #36393f;
  min-height:100vh;
}

.roomList {
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 8px;
  text-align: center;
  border:2px solid #4f545c;
  box-shadow:4px 4px 0 0 #36393f;
  width:150px;
  background-color: #4f545c;
}

:focus{
  outline:none !important;
}

.adminButt{
  z-index: 0;
}

.roomListEntry{
  background-color: #4f545c;
  border-style:none;
  padding:8px;
  color:white;
}
.roomListEntry:hover{
  background-color: #72777D;
}

.adminContainer {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom:16px;
  min-height:100vh;
  background-color: #36393f;
}
.tableBackground{
  background-color:#dcddde;
  border-radius:16px 16px 16px 16px;
  box-shadow:4px 4px 0 0 white;
}